html{
  background-color: #218892;
}

h1, h3, h4 {
  text-align: center;
}

body {
  background-color: #f1c40f;  
  font-family:serif;
}
.baskets{
 font-style:underline; 
}
hr {
  background-color:blue;
}
#email, #message {
  width:100%;
}
.border-dashed {
  border-style:dashed !important;
}
.border-dotted {
  border-style:dotted !important;
}
p {
  font-family: sans-serif;
}