img {
  width:100%;
}
#email {
  width:100%;
}
#message {
  width:100%;
}
h6 {
  font-style: serif;
  font-weight: bold;
}
html{
  background-color: #218892;
  font-family:fantasy;
}

footer {
  text-align:center;

}
h1 {
  text-align: center;
}
body {
  background-color: #f1c40f;
}